body {
  font-family:          Georgia, Helvetica, Verdana, serif;
  font-size:            16px;
  color:                #454545;
}
#ie {
    display:            hidden;
}


/* ---------------------------------------- /*
/* BG Image */
.nojs .fullBg { 
    display:            none; 
}
.fullBg {
  position:             fixed;
  top:                  0;
  left:                 0;
  overflow:             hidden;
}


/* ---------------------------------------- /*
/* The White Stripes */
.nojs #whitestripe {
    height:             auto;
    background-color:   #ccc;
    position:           relative;
}
#whitestripe {
    position:           absolute;
    z-index:            50;
    background-color:   white;
    width:              100%;
    top:                50%; 
    height:             520px; 
    margin-top:         -260px;
    background-color:   rgba(255, 255, 255, 0.4);
}


/* ---------------------------------------- /*
/* Contentbox im white Stripe */
#content {
    width:              930px;
    height:             510px;
    margin:             0 auto;
    background-color:   rgba(255, 255, 255, 0.8);
    padding:            5px 10px;
    position:           relative;
}


/* ---------------------------------------- /*
/* Slider */
#navigation {
    margin:         10px auto 0 auto;
    text-align:     center;
    z-index:        50;
}

#navigation li {
    display:        inline;
    margin-right:   20px;
}

#navigation li.last {
    margin-right:   0px;
}

#navigation a.cur {
    text-decoration: underline;
}

#content .anythingSlider {
    padding:        0 0 5px 0;
}

#content .anythingSlider .anythingWindow {
    border:         none;
}


/* ---------------------------------------- /*
/* Spalten-Layout */
ul.multiCol li.col {
    float:              left;
    padding:            0 20px 0 20px;
    /* border-left:        1px solid #B7B9C5; */
}
ul.multiCol li.col:first-child {
    border-left:        none;
}
ul.multiCol li._25 { width: 194px; }
ul.multiCol li._33 { width: 265px; }
ul.multiCol li._66 { width: 560px; }
ul.multiCol li._75 { width: 642px; }
ul.multiCol li._50 { width: 398px; }


/* ---------------------------------------- /*
/* Eigenständige Gestaltungs-Elemente im Layout */
h1 {
    font-size:          36px;
    text-align:         center;
}
h2 { 
    text-align:         center; 
    margin-bottom:      0px;
    font-size:          16px;
}
h3 { 
    text-align:         left; 
    margin:             30px 20% 20px 0px; 
    padding-left:       25px; 
    border-bottom:      1px solid #B7B9C5;
    font-size:          20px; 
}
#togglePage {
    right:              15px;
    top:                5px;
    position:           absolute;
    font-size:          12px;
    z-index:            15;
}
#mugshot {
    -moz-transform:     rotate(-7deg);
    -webkit-transform:  rotate(-7deg);
    -o-transform:       rotate(-7deg);
    transform:          rotate(-7deg);
    margin:             -60px 10px 0 20px;
    float:              right;
    z-index:            5;
}
#personalArrow {
    position:           absolute;
    right:              130px; 
    top:                20px;
    z-index:            10;
}


/* ---------------------------------------- /*
/* Tagcloud */
#skills {
    text-align:         center;
    margin:             0 auto;
}
#skills li {
    display:            inline;
    margin:             5px;
    line-height:        1.5em;
    white-space:        nowrap;
}
#skills li._1 { font-size: .7em; font-weight: 100; }
#skills li._2 { font-size: .9em; font-weight: 200; }
#skills li._3 { font-size: 1.2em; font-weight: 300; }
#skills li._4 { font-size: 1.5em; font-weight: 400; }
#skills li._5 { font-size: 1.8em; font-weight: 500; }


/* ---------------------------------------- /*
/* Sonst. Elemente */

a {
    color:              #157DD8;
    text-decoration:    none;
}
a:hover {
    color:              #1565D6;
    text-decoration:    underline;
}
.strikethrough {
    text-decoration:    line-through;
}
.justify {
    text-align:         justify;
}
p {
    line-height:        22px;
    margin-bottom:      1em;
}
strong {
    font-weight:        bold;
}
ul.links li { 
    padding-left:       25px;
    margin-bottom:      5px;
}
.analytics {
    font-size:          13px;
    line-height:        16px;
}
ul.links li { margin-bottom: 15px; }
ul.links a { display: block; }
.xing { background: transparent url('/img/icon_sprites.png') 0 -100px no-repeat }
.twitter { background: transparent url('/img/icon_sprites.png') 0 -50px no-repeat }
.slideshare { background: transparent url('/img/icon_sprites.png') 0 -150px no-repeat }
.delicious { background: transparent url('/img/icon_sprites.png') 0 0 no-repeat }
.github { background: transparent url('/img/icon_sprites.png') 0 -200px no-repeat }
