body {
  font-family:          Georgia, Helvetica, Verdana, serif;
  font-size:            16px;
  color:                #454545;
}


/* BG Image */
.fullBg {
  position:             fixed;
  top:                  0;
  left:                 0;
  overflow:             hidden;
}


/* The White Stripe */
#whitestripe {
    position:           absolute;
    z-index:            50;
    background-color:   white;
    width:              100%;
    top:                50%; 
    height:             500px; 
    margin-top:         -250px;
    /* background: transparent url('/img/bg/tile.png') 0 0 repeat; */
    background-color:   rgba(255, 255, 255, 0.5);
}


/* Contentbox im white Stripe */
#content {
    width:              930px;
    height:             490px;
    margin:             0 auto;
    background-color:   rgba(255, 255, 255, 0.8);
    padding:            5px 10px;
    position:           relative;
}


/* Content-Elemente */
h1 {
    font-size:          36px;
    text-align:         center;
}
h2, h3 {
    font-size:          18px;
    margin-bottom:     10px;
}
h2 { text-align: center; }
h3 { text-align: left; }
#togglePage {
    right:              15px;
    top:                5px;
    position:           absolute;
    font-size:          12px;
}
#mugshot {
  -moz-transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
  margin: 20px;
  float: right;
}

/* Slider */
#navigation {
    margin: 0 auto 30px auto;
    text-align: center;
}
#navigation li {
    display: inline;
    margin-right: 20px;
}
#navigation li.last {
    margin-right: 0px;
}
#content .anythingSlider {
    padding: 0 0 5px 0;
}
#content .anythingSlider .anythingWindow {
    border: none;
}

/* Layout (Content-) Spalten */
ul.multiCol li.col {
    float:              left;
    padding:            0 8px 0 8px;
    border-left:        1px solid red; /* #B7B9C5 */;
}
ul.multiCol li.col:first-child {
    border-left:        none;
}
ul.multiCol li._25 { width: 224px; }
ul.multiCol li._33 { width: 295px; }
ul.multiCol li._66 { width: 590px; }
ul.multiCol li._75 { width: 672px; }


/* Tagcloud */

#skills {

        text-align: center;
}

#skills li {
    display: inline;

margin: 5px;
    line-height: 130%;
}

#skills li._1 { font-size: .70em; font-weight: 100; }
#skills li._2 { font-size: .85em; font-weight: 200; }
#skills li._3 { font-size: 1em; font-weight: 300; }
#skills li._4 { font-size: 1.15em; font-weight: 400; }
#skills li._5 { font-size: 1.30em; font-weight: 500; }


/* Sonst. Elemente */
.strikethrough {
    text-decoration:    line-through;
}
.justify {
    text-align:         justify;
}
p {
    line-height: 22px;
}
strong {
    font-weight: bold;
}
ul.links li { 
    padding-left: 25px;
    margin-bottom: 5px;
}
.analytics {
    font-size: 13px;
    line-height: 16px;
}
.xing { background: transparent url('/img/icon_sprites.png') 0 -100px no-repeat }
.twitter { background: transparent url('/img/icon_sprites.png') 0 -50px no-repeat }
.slideshare { background: transparent url('/img/icon_sprites.png') 0 -150px no-repeat }
.delicious { background: transparent url('/img/icon_sprites.png') 0 0 no-repeat }
.github { background: transparent url('/img/icon_sprites.png') 0 -200px no-repeat }
