/* Get a new Browser, for Gods sake! */
#ie {
    z-index:            1000;
    position:           absolute;
    left:               0;
    top:                0;
    width:              100%;
    height:             auto;
    display:            block;
    background-color:   #8E0101;
    color:              white;
    border-bottom:      1px solid black;    
    text-align:         center;
    padding-top:        5px;
}

#background {
    display:            none;
}