/* Textblöcke */
#jqt ul li.text a,
#jqt ul li.text a + a {
    display: inline;
    color: black;
    font-weight: bold;
    font-size: 1em;
}
#jqt ul li.text {
    color: #666;
}
#jqt ul li.text .center {
    text-align: center;
}

/* Mehr-Links */
.xing { background: transparent url('/img/xing_icon.png') 5px 10px no-repeat; }
.slideshare { background: transparent url('/img/slideshare_icon.png') 5px 10px no-repeat; }
.twitter { background: transparent url('/img/twitter_icon.png') 5px 10px no-repeat; }
.delicious { background: transparent url('/img/delicious_icon.png') 5px 10px no-repeat; }
.github { background: transparent url('/img/github_icon.png') 5px 10px no-repeat; }

.weblinks li { padding-left: 58px !important; }
.weblinks li span { font-size: 0.75em !important; }

/* Star-Ratings */
#skillset small { background: transparent url('/img/5star_icon.png') left 4px no-repeat; height: 18px; }
#skillset ._1 { width: 14px; }
#skillset ._2 { width: 28px; }
#skillset ._3 { width: 42px; }
#skillset ._4 { width: 56px; }
#skillset ._5 { width: 70px; }